h1{
  text-align: center;
  font-family: cursive;
  font-size: 30px;
  padding: 30PX;
  color: grey;
}

h3 {
  font-size: 20px;
  background:darkorange;
  color:white;
  cursor:pointer;
  margin:0;
  padding:8px 16px;
}

      
h3:before {
  content:"▼";     
  margin-right:10px;
  float:right;
  transition:all 0.2s ease 0s;
}

h3.inactiva:before {transform:rotate(-90deg);}
h3.activa:before {transform:rotate(0deg);}
      
#acordeon {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  background-color: white;         
}
    
#acordeon div {    
  background:lightgrey;
  color:rgb(31, 31, 31);
  overflow:hidden;
  border-right:1px solid #e6e6e6;
  border-bottom:1px solid #fafafa;
  border-left:1px solid #e6e6e6;
  padding:0;
}

#acordeon div.inactiva { 
  transition:max-height 0.2s ease 0s;
  max-height:0;
}
      
#acordeon div.activa {
  transition:max-height 0.2s ease 0s;
  max-height:1000px;
}
   
#acordeon p {
  margin:20px;
}
      
p:last-child {
  margin:0;
}
    
.home {
  width: 100px;
  height: 100px;
  color: white;
  font-size: 15px;   
  background-color: darkorange;
  padding: 5px;
  margin: 0px 2px;
  border-radius: 100px;
  cursor: pointer;  
  position: absolute;
  top: 10px;
  left: 10px;
  }