h1{
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    padding: 30PX;
    color: grey;
}

div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

button {
  
    width: 200px;
    height: 200px;
    color: white;
    font-weight: 700;
    font-size: 25px;
    background-color: darkorange;
    padding: 20px;
    margin: 0px 20px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: black;
}